<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teskr</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="container ">
        <section class="head-holder">
            <figure class="logo" title="tesk logo">
                <a href="#hero"><img src="asset/icons8-reminders-100.svg" alt="teskr"></a>
            </figure>
            <nav>
                <ul class="auth">
                    <li class="login"><a href="/login">Login</a></li>
                    <li class="sign-up"><a href="/signup">Sign Up</a></li>
                </ul>
            </nav>
        </section>
    </header>

    <main id="hero" class="container">
        <section class=" hero">
            <section class="hero-text">
                <h1>making <span class="tesk">tesk</span> management more human!</h1>
                <p>Gain the motivation you need to scale through your daily activities and track your progress over time, </p>
                <ul>
                    <li>Track Your progress over time</li>
                    <li>Restrategise as you get better</li>
                </ul>
            </section>
            <figure class="hero-image">
                <img src="asset/Worklifebalance-pana.svg" alt="multi-tasking">
            </figure>
        </section>
    </main>
    
    <script src="js/main.js"></script>
</body>
</html>