<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tesk</title>
    <link rtask="stylesheet" href="css/tesk.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="container ">
        <section class="head-holder">
            <figure class="logo" title="tesk logo">
                <a href="/"><img src="asset/icons8-reminders-100.svg" alt="teskr"></a>
            </figure>
            <nav>
                <ul class="auth">
                    <li class="login"><a href="/archive">Archive</a></li>
                    <li class="sign-up"><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </section>
    </header>

    <main id="hero" class="container">
        <section class=" hero">
            <section class="hero-text">
                <h1> Just<pre class="tesk">teskr</pre> it!</h1>
                <p>Start out great, project your goals!</p>
            </section>
        </section>
    </main>

    <section class="container">
        <form action="task/createtodo" method="POST" id="add-task">
            <label for="task">Add Task</label><br>
            <input type="text" id="task" name="todoitem" placeholder="Enter Todo Item">
            <button type="submit">Add</button>
        </form>
    </section>

    <section class="container activities">
        <h2>ACTIVITIES</h2>
        <ul class="tasks-holder">
            <!-- Items to form -->
            <p>You have <%= left %> things left to do.</p>
            <% todos.forEach( task => { %>
                <li class="task-holder" data-id="<%=task.id%>">

                    <div class="task-container">
                        <p class="task-item"><%= task.task%></p>
                    </div>

                    <section class="task-control">
                        <button class="create-icon">
                            <a href="/edittask">
                                <ion-icon name="create-outline" size="large"></ion-icon>
                            </a>
                        </button>

                        <button class="trash-icon">
                            <a href="/deletetask">
                                <ion-icon name="trash-outline" size="large"></ion-icon>
                            </a>
                        </button>

                        <button class='<%= task.completed === true ? 'checkmark-icon' : 'not'%>' >
                            <a href="/markcomplete">
                                <ion-icon name="checkmark-outline" size="large"></ion-icon>
                            </a>
                        </button>
                    </section>
                </li>
            <% }) %>  

        </ul>


    </section>

    
    <script src="js/main.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>